<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZCP_QV2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ZCP_QV2.My.MySettings>
            <setting name="ZCP_DB" serializeAs="String">
                <value>ZPL</value>
            </setting>
            <setting name="GAL_DB" serializeAs="String">
                <value>zpl60odbc</value>
            </setting>
            <setting name="GAL_UID" serializeAs="String">
                <value>zpmatswi</value>
            </setting>
            <setting name="GAL_PWD" serializeAs="String">
                <value>zpmatswi</value>
            </setting>
            <setting name="RefreshTimer" serializeAs="String">
                <value>600</value>
            </setting>
        </ZCP_QV2.My.MySettings>
    </userSettings>
</configuration>